@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./img/shou-karigurashi-no-arrietty-thumb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.App{
  display: flex;
  background-color: #CBD5C0;
  box-shadow: 1px 3px 5px black, 5px 10px 15px black, 3px 5px 50px white;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 600px;
  flex-direction: column;
  gap: 3rem;
  font-family: 'Poppins', sans-serif;;
}

p{
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.imagem{
  width: 300px;
}

button{
  width: 30%;
  padding: 0.4rem;
  background-color: #758467;
  border: none;
  box-shadow: 1px 3px 5px black;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

button:hover{
  background-color: #9CAF88;
}
